<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- 根菜单 -->
    <menuitem id="menu_mall_leasing_root" name="商场租赁" sequence="10"/>

    <!-- 商场管理菜单 -->
    <menuitem id="menu_mall_management" name="商场管理" parent="menu_mall_leasing_root" sequence="10" action="mall_leasing.action_mall"/>

    <!-- 门面管理菜单 -->
    <menuitem id="menu_facade_management" name="门面管理" parent="menu_mall_leasing_root" sequence="20" action="mall_leasing.act_mall_facade"/>

    <!-- 合同管理菜单 -->
    <menuitem id="menu_contract_management" name="合同管理" parent="menu_mall_leasing_root" sequence="30"/>
    
    <!-- 租户合同子菜单 -->
    <menuitem id="menu_tenant_contracts" name="租赁合同" parent="menu_contract_management" sequence="10" action="mall_leasing.action_tenant_contracts"/>
    
    <!-- 物业合同子菜单 -->
    <menuitem id="menu_property_contracts" name="物业合同" parent="menu_contract_management" sequence="20" action="mall_leasing.action_property_contracts"/>
    
    <!-- 房东合同子菜单 -->
    <menuitem id="menu_landlord_contracts" name="房东合同" parent="menu_contract_management" sequence="30" action="mall_leasing.action_landlord_contracts"/>

    <!-- 沟通日志菜单 -->
    <menuitem id="menu_communication_log" name="沟通日志" parent="menu_mall_leasing_root" sequence="40" action="mall_leasing.action_communication"/>
</odoo>