<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_mall_leasing_root" name="商场租赁" sequence="10"/>

    <record id="action_mall_facade" model="ir.actions.act_window">
        <field name="name">门面管理</field>
        <field name="res_model">mall.facade</field>
        <field name="view_mode">list,form</field>
    </record>
    <menuitem id="menu_mall_facade" name="门面管理" parent="menu_mall_leasing_root" action="action_mall_facade" sequence="10"/>

    <record id="action_mall_contract_all" model="ir.actions.act_window">
        <field name="name">合同管理</field>
        <field name="res_model">mall.leasing.contract</field>
        <field name="view_mode">list,form</field>
    </record>
    <menuitem id="menu_mall_contract" name="合同管理" parent="menu_mall_leasing_root" action="action_mall_contract_all" sequence="20"/>

    <record id="action_mall_contract_tenant" model="ir.actions.act_window">
        <field name="name">租户合同</field>
        <field name="res_model">mall.leasing.contract</field>
        <field name="view_mode">list,form</field>
        <field name="domain">[("contract_type","=","tenant")]</field>
    </record>
    <menuitem id="menu_mall_contract_tenant" name="租户合同" parent="menu_mall_contract" action="action_mall_contract_tenant" sequence="21"/>

    <record id="action_mall_contract_landlord" model="ir.actions.act_window">
        <field name="name">房东合同</field>
        <field name="res_model">mall.leasing.contract</field>
        <field name="view_mode">list,form</field>
        <field name="domain">[("contract_type","=","landlord")]</field>
    </record>
    <menuitem id="menu_mall_contract_landlord" name="房东合同" parent="menu_mall_contract" action="action_mall_contract_landlord" sequence="22"/>

    <record id="action_mall_communication" model="ir.actions.act_window">
        <field name="name">沟通日志</field>
        <field name="res_model">mall.communication</field>
        <field name="view_mode">list,form</field>
    </record>
    <menuitem id="menu_mall_communication" name="沟通日志" parent="menu_mall_leasing_root" action="action_mall_communication" sequence="30"/>
</odoo>